@model ApplicationUserDTO

<div class="pt-md-2 pb-md-2 mx-auto text-center">
    <h1 class="display-4">Registrar-se</h1><br />
</div>
<div class="form-group">
    <form asp-controller="Account" asp-action="Register" onsubmit="button.disabled = true; return true;">
        <h3 class="lead">Informações da conta</h3>
        <hr>
        <div class="form-row loginForm">
            <div class="form-group col-md-4">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" type="text" class="form-control" placeholder="exemplo123">
                <span asp-validation-for="UserName" class="text-danger"></span>
                @if (TempData["errorUserName"] != null)
                {
                    <p class="text-danger">@TempData["errorUserName"]</p>
                }
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" class="form-control" placeholder="exemplo@email.com">
                <span asp-validation-for="Email" class="text-danger"></span>
                @if (TempData["errorEmail"] != null)
                {
                    <p class="text-danger">@TempData["errorEmail"]</p>
                }
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Senha"></label>
                <input asp-for="Senha" type="password" class="form-control" placeholder="">
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>
        <h3 class="lead">Informações adicionais</h3>
        <hr>
        <div class="form-row loginForm">
            <div class="form-group col-md-12">
                <label asp-for="NomeCompleto"></label>
                <input asp-for="NomeCompleto" type="text" class="form-control" placeholder="Seu nome completo">
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DataDeNascimento"></label>
                <input asp-for="DataDeNascimento" type="date" class="form-control">
                <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CPF"></label>
                <input asp-for="CPF" type="text" class="form-control" placeholder="000.000.000-00">
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="00 00000 0000">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" class="btn btn-outline-success" name="button" value="Registrar" />
    </form>
</div>