<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <link href="~/Content/site.css" rel="stylesheet" />
    <title>Clínica Veterinária</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Área do Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdminAnimais" asp-action="TodosAnimais">Animais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdminConsultas" asp-action="TodasConsultas">Consultas</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <partial name="LoginPartial" />
            </form>
        </div>
    </nav>
    <div class="container" style="padding: 15px">
        @if (TempData["error"] != null)
        {<input type="hidden" id="error" value="@TempData["error"]" />}
        @if (TempData["success"] != null)
        {<input type="hidden" id="success" value="@TempData["success"]" />}
        @RenderBody()
    </div>
    <footer class="footer page-footer font-small teal pt-4 text-secondary">
        <div class="container text-center">
            <h5 class="text-uppercase font-weight-bold">Clínica Veterinária</h5>
            <p>Projeto criado com o objetivo de adquirir experiência em ASP.NET Core</p>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2019 Adriano Yanagida da Costa &ensp;
            <a href="https://www.linkedin.com/in/adrianoyanagida" class="fab fa-linkedin" style="text-decoration: none"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/script_jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>