<li class="dropdown"> 
    <a asp-controller=""
       asp-action=""
       class="dropdown-toggle" data-toggle="dropdown">Guia do Animal<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Animal" asp-action="Cadastro" asp-route-category="">Cadastrar animal</a>
        </li>
        <li>
            <a asp-controller="Animal" asp-action="Lista" asp-route-category="">Seus animais</a>
        </li>
        @*<li class="divider"></li>
        <li>
            <a asp-controller="Drink" asp-action="List" asp-route-category="">View all drinks</a>
        </li>*@
    </ul>
</li>