<li class="dropdown"> 
    <a asp-controller=""
       asp-action=""
       class="dropdown-toggle" data-toggle="dropdown">Guia de Consultas<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Consulta" asp-action="Data" asp-route-category="">Cadastrar consulta</a>
        </li>
        <li>
            <a asp-controller="Consulta" asp-action="Lista" asp-route-category="">Suas consultas</a>
        </li>
        @*<li class="divider"></li>
        <li>
            <a asp-controller="Drink" asp-action="List" asp-route-category="">View all drinks</a>
        </li>*@
    </ul>
</li>