<hr>
<h1>Projeto Clínica Veterinária</h1>
<p>Projeto com o objetivo de criar uma clínica veterinária funcional para fins de estudo.</p>
@if (TempData["AgendamentoConcluido"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["AgendamentoConcluido"]</p>
}

