/* CSS */

nav {
    padding: 8px;
    background-color: #000000;
}

.loginForm {
    margin: 1%;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}   

body {
    margin: 0;
    margin-bottom: 230px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fbfbfb;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 175px;
    background-color: #000000;
}

body > .container {
    padding: 60px 15px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.btn{
    border-radius: 15px;
}

.alert, .form-control {
    border-radius: 25px;
}

/* FA CSS */

.fa-linkedin {
    font-size: 25px;
}

/* TOAST CSS */

.toast {
    opacity: 1 !important;
}

#toast-container > div {
    opacity: 1 !important;
}