<div class="pt-md-2 pb-md-2 mx-auto text-center">
    <h1 class="display-4">Seus Animais</h1>
</div>
<div class="text-center">
    Abaixo você confere todos os seus animais cadastrados no nosso site.
</div>

<br>

<div class="table-responsive">
    <table class="table table-borderless">
        <thead class="thead-light">
            <tr class="text-center">
                <th>Nome do Animal </th>
                <th>Tipo do Animal </th>
                <th>Raça do Animal </th>
                <th>Data de Nascimento </th>
                <th>Alergias </th>
            </tr>
        </thead>
        @{
            foreach (Animal animal in Model.Animais)
            {
                <partial name="SeusAnimaisPartial" model="animal" />
            }
        }
    </table>
</div>
