@{
    Layout = "_AdminLayout";
}

<div style="padding: 10px">
    <div class="pt-md-2 pb-md-2 mx-auto text-center">
        <h1 class="display-4">Área da Administração</h1>
    </div>
    <div class="text-center">
        Projeto com o objetivo de criar uma clínica veterinária funcional para fins de estudo.
    </div>
</div>


