@model ConsultaViewModel

<div class="text-center">
    <div class="pt-md-2 pb-md-2 mx-auto">
        <h1 class="display-4">Marcar uma Consulta</h1>
    </div>
    <div class="lead">
        Escolha a data e o veterinário, verificaremos se está disponível ;)<br />
        Cuidado, não trabalhamos em sábados, domingos e feriados
    </div>
</div>

<br />

<div class="form-group">
    @if (TempData["error"] != null)
    {<p class="alert alert-danger" id="successMessage">@TempData["error"]</p>}
    <form asp-controller="Consulta" asp-action="Data" onsubmit="button.disabled = true; return true;">
        <div class="form-row loginForm">
            <div class="form-group col-md-3">
                <label asp-for="DataConsulta"></label>
                <input asp-for="DataConsulta" class="form-control" />
            </div>
            <div class="form-group col-md-7">
                <label asp-for="VeterinarioId"></label>
                <select asp-for="VeterinarioId" class="form-control">
                    @foreach (Veterinario veterinario in Model.Veterinarios)
                    {
                        <option label="@veterinario.VetNome - @veterinario.VetFuncao">@veterinario.VeterinarioId</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-outline-success form-control" name="button" value="Verificar" />
            </div>
        </div>
    </form>
</div>

