@model Consulta
<div>
    <h3>Preencha o formulário abaixo.</h3>

    <form asp-controller="Consulta" asp-action="Editar" method="post" class="form-horizontal" role="form">
        <input asp-for="ConsultaId" type="hidden" />
        <input asp-for="VeterinarioId" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <input asp-for="AnimalId" type="hidden" />
        <input asp-for="DataConsulta" type="hidden" />
        <input asp-for="HorarioConsulta" type="hidden" />
        <input asp-for="ValorConsulta" type="hidden" />
        <input asp-for="Diagnostico" type="hidden" />
        <input asp-for="IsActive" type="hidden" />
        <div class="form-group">
            <label asp-for="DescricaoDoProblema" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="DescricaoDoProblema" class="form-control" />
                <span asp-validation-for="DescricaoDoProblema" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-8">
                <input class="btn btn-success" type="submit" value="Finalizar" />
            </div>
        </div>
    </form>
</div>