<hr />
<div>
    <h3>Suas consultas estão listadas abaixo:</h3>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Nome do Veterinario </th>
            <th>Nome do Animal </th>
            <th>Data da Consulta </th>
            <th>Horario da Consulta </th>
            <th>Descrição do Problema </th>
            <th>Consulta verificada </th>
            <th>Disgnóstico </th>
            <th>Valor da Consulta </th>
        </tr>
    </thead>
    @{
        foreach (Consulta consulta in Model.Consultas)
        {
            @Html.Partial("ConsultaListPartial", consulta);
        }
    }
</table>